In [1]:
import pandas as pd
import numpy as np

In [2]:
customer_actions = pd.read_csv("ExportCustomerActions.csv", low_memory = False)

In [3]:
customer_actions.head()

,CampaignID,Cust_ID,Phone_Number,Call_Start,Call_End,Log_Time,Call_Result,Connected,Connection_ID,Emp_ID,ActionID,ImportedDate
0,B7270,4,061*******,2018-01-03 15:52:02.340,2018-01-03 15:52:03.510,2018-01-03 15:53:43.510,sale,1,NaN,13439,1,NaN
1,B7270,5,073*******,2018-01-03 15:53:46.383,2018-01-03 15:53:47.490,2018-01-03 15:58:18.923,sale,1,NaN,13439,2,NaN
2,B7270,6,071*******,2018-01-03 16:11:13.747,2018-01-03 16:11:15.687,2018-01-03 16:13:07.390,sale,1,NaN,13439,3,NaN
3,B7270,7,079*******,2018-01-25 12:18:53.887,2018-01-25 12:18:55.977,2018-01-25 12:19:00.523,voice mail / answering machine,1,1.249150e+09,16778,4,NaN
4,B7270,7,079*******,2018-01-26 14:21:57.887,2018-01-26 14:21:59.863,2018-01-26 14:22:04.837,voice mail / answering machine,1,1.249159e+09,16761,5,NaN

In [4]:
customer_actions.shape

(9451320, 12)

In [5]:
customer_actions.isnull().sum()

CampaignID             0
Cust_ID                0
Phone_Number           0
Call_Start             0
Call_End               0
Log_Time               0
Call_Result            0
Connected              0
Connection_ID     264650
Emp_ID                 0
ActionID               0
ImportedDate     9446315
dtype: int64

In [6]:
customer_actions = customer_actions.drop(['Phone_Number', 'Log_Time', 'ImportedDate'], axis = 1)

In [7]:
customer_actions = customer_actions.drop(['ActionID'], axis = 1)

In [8]:
customer_actions = customer_actions.drop(['Connected'], axis = 1)

In [9]:
customer_actions['Call_Start'] = pd.to_datetime(customer_actions['Call_Start'])

In [10]:
customer_actions['Call_End'] = pd.to_datetime(customer_actions['Call_End'])

In [11]:
customer_actions.head()

,CampaignID,Cust_ID,Call_Start,Call_End,Call_Result,Connection_ID,Emp_ID
0,B7270,4,2018-01-03 15:52:02.340,2018-01-03 15:52:03.510,sale,NaN,13439
1,B7270,5,2018-01-03 15:53:46.383,2018-01-03 15:53:47.490,sale,NaN,13439
2,B7270,6,2018-01-03 16:11:13.747,2018-01-03 16:11:15.687,sale,NaN,13439
3,B7270,7,2018-01-25 12:18:53.887,2018-01-25 12:18:55.977,voice mail / answering machine,1.249150e+09,16778
4,B7270,7,2018-01-26 14:21:57.887,2018-01-26 14:21:59.863,voice mail / answering machine,1.249159e+09,16761

In [12]:
customer_actions['Call_Time_seconds'] = (customer_actions['Call_End'] - customer_actions['Call_Start']).dt.total_seconds()

In [13]:
customer_actions.head()

,CampaignID,Cust_ID,Call_Start,Call_End,Call_Result,Connection_ID,Emp_ID,Call_Time_seconds
0,B7270,4,2018-01-03 15:52:02.340,2018-01-03 15:52:03.510,sale,NaN,13439,1.170
1,B7270,5,2018-01-03 15:53:46.383,2018-01-03 15:53:47.490,sale,NaN,13439,1.107
2,B7270,6,2018-01-03 16:11:13.747,2018-01-03 16:11:15.687,sale,NaN,13439,1.940
3,B7270,7,2018-01-25 12:18:53.887,2018-01-25 12:18:55.977,voice mail / answering machine,1.249150e+09,16778,2.090
4,B7270,7,2018-01-26 14:21:57.887,2018-01-26 14:21:59.863,voice mail / answering machine,1.249159e+09,16761,1.976

In [14]:
customer_actions.to_csv('Clean_ExportCustomerActions.csv', index = False)

In [15]:
additional_cust_detail = pd.read_csv('ExportCustomerDetailAdditional.csv', low_memory = False)

In [16]:
print(additional_cust_detail.shape)
print(additional_cust_detail.isnull().sum())

(4733543, 22)
CampaignID                    0
cust_id                       0
SuggestedPlan           3577924
ClientBehaviour         2756896
BankAccountIndicator    4733543
ClientAccountNumber     4733543
Percentile_TakeUp       4285780
Percentile_Survival     4285780
StopSMS                 1891964
avg_est_income          3108042
cust_od_lim_count       4176283
cust_od_lim_sum         4731834
avg_bal_01              3100332
avg_bal_avail           3029596
marital_status          3046159
derived_age             3029596
Salary_date             3452306
confidence              4375929
date_range              4413258
wage_earner             3312835
day_of_week             4713135
ImportedDate            4614426
dtype: int64

In [17]:
additional_cust_detail = additional_cust_detail.drop(['ImportedDate', 'day_of_week', 'date_range', 'confidence', 
                                                      'cust_od_lim_count', 'cust_od_lim_sum', 'BankAccountIndicator', 
                                                      'ClientAccountNumber', 'Percentile_TakeUp', 'Percentile_Survival'], axis = 1)

In [18]:
additional_cust_detail = additional_cust_detail.drop(['derived_age', 'ClientBehaviour', 'StopSMS', 'Salary_date'], axis = 1)

In [19]:
additional_cust_detail = additional_cust_detail.rename(columns = {"cust_id": "Cust_ID"})

In [20]:
additional_cust_detail.head()

,CampaignID,Cust_ID,SuggestedPlan,avg_est_income,avg_bal_01,avg_bal_avail,marital_status,wage_earner
0,B7270,4,NaN,NaN,NaN,NaN,NaN,NaN
1,B7270,5,NaN,NaN,NaN,NaN,NaN,NaN
2,B7270,6,NaN,NaN,NaN,NaN,NaN,NaN
3,B7270,7,NaN,NaN,NaN,NaN,NaN,NaN
4,B7270,8,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
additional_cust_detail.to_csv('Clean_ExportCustomerDetailAdditional.csv', index = False)

In [22]:
merged = pd.merge(customer_actions, additional_cust_detail,on = ['CampaignID', 'Cust_ID'] , how = 'outer')

In [23]:
merged.head()

,CampaignID,Cust_ID,Call_Start,Call_End,Call_Result,Connection_ID,Emp_ID,Call_Time_seconds,SuggestedPlan,avg_est_income,avg_bal_01,avg_bal_avail,marital_status,wage_earner
0,B7270,4,2018-01-03 15:52:02.340,2018-01-03 15:52:03.510,sale,NaN,13439.0,1.170,NaN,NaN,NaN,NaN,NaN,NaN
1,B7270,5,2018-01-03 15:53:46.383,2018-01-03 15:53:47.490,sale,NaN,13439.0,1.107,NaN,NaN,NaN,NaN,NaN,NaN
2,B7270,6,2018-01-03 16:11:13.747,2018-01-03 16:11:15.687,sale,NaN,13439.0,1.940,NaN,NaN,NaN,NaN,NaN,NaN
3,B7270,7,2018-01-25 12:18:53.887,2018-01-25 12:18:55.977,voice mail / answering machine,1.249150e+09,16778.0,2.090,NaN,NaN,NaN,NaN,NaN,NaN
4,B7270,7,2018-01-26 14:21:57.887,2018-01-26 14:21:59.863,voice mail / answering machine,1.249159e+09,16761.0,1.976,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
campaign = pd.read_csv("Clean_ExportCampaign.csv", low_memory = False) # completed
customer_data = pd.read_csv("Clean_ExportCustomerData.csv", low_memory = False) # completed
cd_history_detail = pd.read_csv("Clean_ExportCustomerDataHistoryDetail.csv", low_memory = False) # completed
employee_info = pd.read_csv("Clean_ExportEmployeeInfo.csv", low_memory = False)
sales = pd.read_csv("Clean_ExportSales.csv", low_memory = False) # completed

In [25]:
sales = sales.rename(columns = {"Cust_id": "Cust_ID"})

In [26]:
customer_data.head()

,CampaignID,Cust_ID,Reserved1,Spare2,ID_No,Postal_Code,Sex,Lang,Batch_ID,Age
0,B7270,4,NaN,NaN,775C91B3-392A-4D74-860C-29A4D5189DF6,8730,F,E,NaN,26.0
1,B7270,5,NaN,NaN,0284B24B-AD78-4A35-A975-900990B58427,7530,F,NaN,NaN,27.0
2,B7270,6,NaN,NaN,CF7FD54D-4BD3-4B82-AFFC-8CBAB0308E12,4225,F,E,NaN,29.0
3,B7270,7,NaN,NaN,6B03A449-9DFF-4D6F-B01C-43E8F3EAA2A1,1520,F,Z,2.0,27.0
4,B7270,8,NaN,NaN,7ACF7758-730E-48A5-B11B-C5AE76DFE788,3610,F,Z,2.0,27.0

In [27]:
merged.columns

Index(['CampaignID', 'Cust_ID', 'Call_Start', 'Call_End', 'Call_Result',
       'Connection_ID', 'Emp_ID', 'Call_Time_seconds', 'SuggestedPlan',
       'avg_est_income', 'avg_bal_01', 'avg_bal_avail', 'marital_status',
       'wage_earner'],
      dtype='object')

In [28]:
merged = pd.merge(merged, customer_data, on = ['CampaignID', 'Cust_ID'], how = 'outer')

In [29]:
print(merged.columns)
print(sales.columns)

Index(['CampaignID', 'Cust_ID', 'Call_Start', 'Call_End', 'Call_Result',
       'Connection_ID', 'Emp_ID', 'Call_Time_seconds', 'SuggestedPlan',
       'avg_est_income', 'avg_bal_01', 'avg_bal_avail', 'marital_status',
       'wage_earner', 'Reserved1', 'Spare2', 'ID_No', 'Postal_Code', 'Sex',
       'Lang', 'Batch_ID', 'Age'],
      dtype='object')
Index(['CampaignID', 'Cust_ID', 'Policy_no', 'Sale_Status', 'Sale_date',
       'Verified_Date', 'Emp_ID', 'ID_No', 'Sex', 'Lang', 'Marital_Status',
       'Family_To_Cover', 'Premium', 'Effective_Date', 'Date_of_Debit',
       'Cover_Amount'],
      dtype='object')

In [30]:
merged = merged.rename(columns = {"marital_status": "Marital_Status"})

In [31]:
merged = pd.merge(merged, sales, on = ['CampaignID', 'Cust_ID'], how = 'outer')

In [32]:
merged.columns

Index(['CampaignID', 'Cust_ID', 'Call_Start', 'Call_End', 'Call_Result',
       'Connection_ID', 'Emp_ID_x', 'Call_Time_seconds', 'SuggestedPlan',
       'avg_est_income', 'avg_bal_01', 'avg_bal_avail', 'Marital_Status_x',
       'wage_earner', 'Reserved1', 'Spare2', 'ID_No_x', 'Postal_Code', 'Sex_x',
       'Lang_x', 'Batch_ID', 'Age', 'Policy_no', 'Sale_Status', 'Sale_date',
       'Verified_Date', 'Emp_ID_y', 'ID_No_y', 'Sex_y', 'Lang_y',
       'Marital_Status_y', 'Family_To_Cover', 'Premium', 'Effective_Date',
       'Date_of_Debit', 'Cover_Amount'],
      dtype='object')

In [33]:
merged['Sex_x'].unique()

array(['F', 'M', 'Other'], dtype=object)

In [34]:
merged['Sex_y'].unique()

array(['F', nan, 'M'], dtype=object)

In [35]:
merged.isnull().sum()

CampaignID                  0
Cust_ID                     0
Call_Start            1393605
Call_End              1393605
Call_Result           1393605
Connection_ID         1658255
Emp_ID_x              1393605
Call_Time_seconds     1393605
SuggestedPlan         8044472
avg_est_income        7377052
avg_bal_01            7361997
avg_bal_avail         7207023
Marital_Status_x      7244446
wage_earner           7839784
Reserved1            10524288
Spare2               10159530
ID_No_x                     0
Postal_Code             71947
Sex_x                       0
Lang_x                  71850
Batch_ID              1712482
Age                         0
Policy_no             9779680
Sale_Status           9779680
Sale_date             9779680
Verified_Date        10196137
Emp_ID_y              9779680
ID_No_y               9779680
Sex_y                 9779680
Lang_y                9779680
Marital_Status_y      9779680
Family_To_Cover       9779680
Premium               9779680
Effective_Date        9779680
Date_of_Debit         9779798
Cover_Amount          9802543
dtype: int64

In [36]:
data_post2021 = merged[merged["Call_Start"] >= '2021-01-01']

In [37]:
data_post2021 = data_post2021.rename(columns = {"ID_No_x" : "ID_No"})

In [38]:
cd_history_detail.columns

Index(['ID_No', 'Product_Category', 'Benefit_Level', 'Cover_Level',
       'Policy_Status', 'CancelledDate', 'HistoryID', 'InceptionDateCorrected',
       'ImportedDate'],
      dtype='object')

In [39]:
data_post2021 = pd.merge(data_post2021, cd_history_detail, on = ['ID_No'], how = 'outer')

In [40]:
data_post2021 = data_post2021[data_post2021["Call_Start"] >= '2021-01-01']

In [41]:
print(data_post2021.columns)
print(campaign.columns)

Index(['CampaignID', 'Cust_ID', 'Call_Start', 'Call_End', 'Call_Result',
       'Connection_ID', 'Emp_ID_x', 'Call_Time_seconds', 'SuggestedPlan',
       'avg_est_income', 'avg_bal_01', 'avg_bal_avail', 'Marital_Status_x',
       'wage_earner', 'Reserved1', 'Spare2', 'ID_No', 'Postal_Code', 'Sex_x',
       'Lang_x', 'Batch_ID', 'Age', 'Policy_no', 'Sale_Status', 'Sale_date',
       'Verified_Date', 'Emp_ID_y', 'ID_No_y', 'Sex_y', 'Lang_y',
       'Marital_Status_y', 'Family_To_Cover', 'Premium', 'Effective_Date',
       'Date_of_Debit', 'Cover_Amount', 'Product_Category', 'Benefit_Level',
       'Cover_Level', 'Policy_Status', 'CancelledDate', 'HistoryID',
       'InceptionDateCorrected', 'ImportedDate'],
      dtype='object')
Index(['CampaignID', 'Campaign_Type', 'ListSegment'], dtype='object')

In [42]:
data_post2021 = pd.merge(data_post2021, campaign, on = ['CampaignID'], how = 'outer')

In [43]:
data_post2021

,CampaignID,Cust_ID,Call_Start,Call_End,Call_Result,Connection_ID,Emp_ID_x,Call_Time_seconds,SuggestedPlan,avg_est_income,...,Product_Category,Benefit_Level,Cover_Level,Policy_Status,CancelledDate,HistoryID,InceptionDateCorrected,ImportedDate,Campaign_Type,ListSegment
0,B8168,2919.0,2021-01-04 08:36:53.870,2021-01-04 08:37:27.197,call back no presentation,2.129662e+09,8992.0,33.327,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Acquisition,3
1,B8168,2919.0,2021-01-04 09:42:04.427,2021-01-04 09:42:10.657,voice mail / answering machine,2.129676e+09,19766.0,6.230,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Acquisition,3
2,B8168,2919.0,2021-01-04 09:49:29.567,2021-01-04 09:50:24.607,call back no presentation,2.129677e+09,19766.0,55.040,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Acquisition,3
3,B8168,2919.0,2021-01-04 15:50:08.380,2021-01-04 15:50:14.547,phone not answered / client does not speak,0.000000e+00,8992.0,6.167,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Acquisition,3
4,B8168,2919.0,2021-01-05 08:30:32.697,2021-01-05 08:31:28.167,call back no presentation,2.129782e+09,8992.0,55.470,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Acquisition,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1146714,B8162,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X Sell,1
1146715,B8163,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X Sell,1
1146716,B8206,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Acquisition,1
1146717,B8207,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Acquisition,1
1146718,B8468,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Acquisition,1

In [44]:
print(data_post2021.columns)
print(employee_info.columns)

Index(['CampaignID', 'Cust_ID', 'Call_Start', 'Call_End', 'Call_Result',
       'Connection_ID', 'Emp_ID_x', 'Call_Time_seconds', 'SuggestedPlan',
       'avg_est_income', 'avg_bal_01', 'avg_bal_avail', 'Marital_Status_x',
       'wage_earner', 'Reserved1', 'Spare2', 'ID_No', 'Postal_Code', 'Sex_x',
       'Lang_x', 'Batch_ID', 'Age', 'Policy_no', 'Sale_Status', 'Sale_date',
       'Verified_Date', 'Emp_ID_y', 'ID_No_y', 'Sex_y', 'Lang_y',
       'Marital_Status_y', 'Family_To_Cover', 'Premium', 'Effective_Date',
       'Date_of_Debit', 'Cover_Amount', 'Product_Category', 'Benefit_Level',
       'Cover_Level', 'Policy_Status', 'CancelledDate', 'HistoryID',
       'InceptionDateCorrected', 'ImportedDate', 'Campaign_Type',
       'ListSegment'],
      dtype='object')
Index(['Emp_ID', 'Team_ID', 'EmploymentDate', 'Gender', 'Race'], dtype='object')

In [45]:
data_post2021 = data_post2021.rename(columns = {"Emp_ID_x" : "Emp_ID"})

In [46]:
data_post2021 = pd.merge(data_post2021, employee_info, on = ['Emp_ID'], how = 'outer')

In [47]:
data_post2021 = data_post2021[data_post2021["Call_Start"] >= '2021-01-01']

In [48]:
data_post2021.shape

(1146634, 50)

In [49]:
data_post2021 = data_post2021.rename(columns = {"Sex_x" : "Cust_Sex", "Gender": "Employee_Gender"})

In [50]:
data_post2021.isnull().sum()

CampaignID                      0
Cust_ID                         0
Call_Start                      0
Call_End                        0
Call_Result                     0
Connection_ID               31331
Emp_ID                          0
Call_Time_seconds               0
SuggestedPlan             1146634
avg_est_income             167785
avg_bal_01                 161297
avg_bal_avail              158636
Marital_Status_x           164018
wage_earner                158636
Reserved1                 1146598
Spare2                    1144626
ID_No                           0
Postal_Code                    49
Cust_Sex                        0
Lang_x                         55
Batch_ID                     5177
Age                             0
Policy_no                 1008902
Sale_Status               1008902
Sale_date                 1008902
Verified_Date             1051017
Emp_ID_y                  1008902
ID_No_y                   1008902
Sex_y                     1008902
Lang_y                    1008902
Marital_Status_y          1008902
Family_To_Cover           1008902
Premium                   1008902
Effective_Date            1008902
Date_of_Debit             1009107
Cover_Amount              1044758
Product_Category           726455
Benefit_Level              726456
Cover_Level                726455
Policy_Status              726455
CancelledDate              963521
HistoryID                  726455
InceptionDateCorrected     726455
ImportedDate               726455
Campaign_Type                   0
ListSegment                     0
Team_ID                         0
EmploymentDate                  0
Employee_Gender              6682
Race                         6682
dtype: int64

In [51]:
data_post2021.shape

(1146634, 50)

In [52]:
data_post2021 = data_post2021.drop(['SuggestedPlan', 'Reserved1', 'Spare2', 'Emp_ID_y', 'ID_No_y', 
                                   'Sex_y', 'Lang_y', 'Marital_Status_y'], axis = 1)

In [53]:
data_post2021

,CampaignID,Cust_ID,Call_Start,Call_End,Call_Result,Connection_ID,Emp_ID,Call_Time_seconds,avg_est_income,avg_bal_01,...,CancelledDate,HistoryID,InceptionDateCorrected,ImportedDate,Campaign_Type,ListSegment,Team_ID,EmploymentDate,Employee_Gender,Race
0,B8168,2919.0,2021-01-04 08:36:53.870,2021-01-04 08:37:27.197,call back no presentation,2.129662e+09,8992.0,33.327,NaN,NaN,...,NaN,NaN,NaN,NaN,Acquisition,3.0,301.0,2008-07-24 09:25:46.560,F,A
1,B8168,2919.0,2021-01-04 15:50:08.380,2021-01-04 15:50:14.547,phone not answered / client does not speak,0.000000e+00,8992.0,6.167,NaN,NaN,...,NaN,NaN,NaN,NaN,Acquisition,3.0,301.0,2008-07-24 09:25:46.560,F,A
2,B8168,2919.0,2021-01-05 08:30:32.697,2021-01-05 08:31:28.167,call back no presentation,2.129782e+09,8992.0,55.470,NaN,NaN,...,NaN,NaN,NaN,NaN,Acquisition,3.0,301.0,2008-07-24 09:25:46.560,F,A
3,B8168,2919.0,2021-01-05 15:45:57.897,2021-01-05 15:46:11.643,phone not answered / client does not speak,0.000000e+00,8992.0,13.746,NaN,NaN,...,NaN,NaN,NaN,NaN,Acquisition,3.0,301.0,2008-07-24 09:25:46.560,F,A
4,B8168,2919.0,2021-01-07 13:57:47.107,2021-01-07 13:57:50.830,phone not answered / client does not speak,0.000000e+00,8992.0,3.723,NaN,NaN,...,NaN,NaN,NaN,NaN,Acquisition,3.0,301.0,2008-07-24 09:25:46.560,F,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1146629,B8356,38843.0,2021-07-25 07:01:34.300,2021-07-25 07:23:37.710,pending misrepresentation: questions - benefits,NaN,12520.0,1323.410,5028.17,3656.0,...,NaN,63063.0,2021-08-11 00:00:00.000,2021-09-28 14:02:27.377,Acquisition,1.0,243.0,2013-02-04 08:45:56.530,F,A
1146630,B8356,38843.0,2021-07-25 07:29:33.120,2021-07-25 07:29:34.970,pending misrepresentation: questions - costs,NaN,12520.0,1.850,5028.17,3656.0,...,NaN,63063.0,2021-08-11 00:00:00.000,2021-09-28 14:02:27.377,Acquisition,1.0,243.0,2013-02-04 08:45:56.530,F,A
1146631,B8356,65080.0,2021-07-24 14:52:25.297,2021-07-24 15:17:01.853,pending verification:debit dates,NaN,12520.0,1476.556,53666.00,11652.0,...,NaN,108421.0,2021-07-28 00:00:00.000,2021-09-28 14:02:27.377,Acquisition,1.0,243.0,2013-02-04 08:45:56.530,F,A
1146632,B8356,65080.0,2021-07-24 14:52:25.297,2021-07-24 15:17:01.853,pending verification:debit dates,NaN,12520.0,1476.556,53666.00,11652.0,...,NaN,108422.0,2019-01-23 00:00:00.000,2021-09-28 14:02:27.377,Acquisition,1.0,243.0,2013-02-04 08:45:56.530,F,A
1146633,B8356,65080.0,2021-07-24 14:52:25.297,2021-07-24 15:17:01.853,pending verification:debit dates,NaN,12520.0,1476.556,53666.00,11652.0,...,NaN,108423.0,2020-12-23 00:00:00.000,2021-09-28 14:02:27.377,Acquisition,1.0,243.0,2013-02-04 08:45:56.530,F,A

In [54]:
data_post2021["Employee_Gender"] = data_post2021["Employee_Gender"].replace(np.nan, "Other")

In [55]:
data_post2021.isnull().sum()

CampaignID                      0
Cust_ID                         0
Call_Start                      0
Call_End                        0
Call_Result                     0
Connection_ID               31331
Emp_ID                          0
Call_Time_seconds               0
avg_est_income             167785
avg_bal_01                 161297
avg_bal_avail              158636
Marital_Status_x           164018
wage_earner                158636
ID_No                           0
Postal_Code                    49
Cust_Sex                        0
Lang_x                         55
Batch_ID                     5177
Age                             0
Policy_no                 1008902
Sale_Status               1008902
Sale_date                 1008902
Verified_Date             1051017
Family_To_Cover           1008902
Premium                   1008902
Effective_Date            1008902
Date_of_Debit             1009107
Cover_Amount              1044758
Product_Category           726455
Benefit_Level              726456
Cover_Level                726455
Policy_Status              726455
CancelledDate              963521
HistoryID                  726455
InceptionDateCorrected     726455
ImportedDate               726455
Campaign_Type                   0
ListSegment                     0
Team_ID                         0
EmploymentDate                  0
Employee_Gender                 0
Race                         6682
dtype: int64

In [56]:
data_post2021.to_csv('data_post2021.csv', index = False)

# Pre 2021

In [57]:
data_pre2021 = merged[merged["Call_Start"] < '2021-01-01']

In [58]:
data_pre2021 = data_pre2021.rename(columns = {"ID_No_x" : "ID_No"})
data_pre2021.shape

(8565591, 36)

In [59]:
#data_pre2021 = pd.merge(data_pre2021, cd_history_detail, on = ['ID_No'], how = 'outer')

In [60]:
#data_pre2021.shape

In [62]:
data_pre2021.to_csv('data_pre2021.csv', index = False)